@import "tailwindcss";

/* Egna teman */
:root {
  --bg: #ffffff;
  --fg: #213547;
}

[data-theme="dark"] {
  --bg: #242424;
  --fg: #e5e7eb;
}

/* Global styling */
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}
